
@using RecoWeb.Domain.LocalResource

<div class="col-lg-12 col-md-12 h-60">
    <div class="ibox">

        <div id="test2">
            <div class="ibox-content">
                <div id="data-grid-demo">
                    @(Html.DevExtreme().DataGrid()
                    .ID("gridContainer01")
                    .Paging(paging => paging.PageSize(20))
                    .Pager(pager =>
                    {
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new List<int> { 20, 50, 100, 200, 300, 500 });
                        pager.ShowInfo(true);
                    })
                    .Export(e => e.Enabled(true).FileName("ExportTest").AllowExportSelectedData(true))  //Export
                    .ColumnAutoWidth(true)
                    .ShowColumnLines(true)
                    .ShowRowLines(true)
                    .ShowBorders(true)
                    .ShowColumnHeaders(false) //헤더지우기
                    .HoverStateEnabled(true)
                    .Sorting(e => e.Mode(GridSortingMode.Multiple))
                    .ColumnMinWidth(50)
                    .AllowColumnResizing(true)
                    .Option("columnResizingMode", ColumnResizingMode.Widget)
                    .OnCellPrepared("cellPrepared")
                    .DataSource(ds => ds.Mvc().Controller("Production")//.Key("_Key")
                        .LoadAction("GetDowntimeTop10Result")
                        .LoadParams(new
                        {
                            p_PlantId = new JS("getIdValue('Plants')")
                            ,
                            p_FactoryId = new JS("getIdValue('Factories')")
                            ,
                            p_WorkshopTypeId = new JS("getIdValue('WorkshopTypes')")
                            ,
                            p_WorkshopId = new JS("getIdValue('Workshops')")
                            ,
                            p_WorkDate = new JS("getIdValue('startDate')")
                            ,
                            p_Gubun1 = new JS("getCheckedRadio('Gubun1')")
                            ,
                            p_Gubun2 = new JS("getCheckedRadio('Gubun2')")
                        })
                    )
                    .Columns(columns =>
                    {
                        //columns.Add().Caption("test").Columns(e =>
                        //{
                        //    e.Add().DataField("Id").Caption("아이디").Alignment(HorizontalAlignment.Left);
                        //    e.Add().DataField("Code").Caption("코오드").Alignment(HorizontalAlignment.Left);
                        //});

                        //select했을때 Header를 삭제해줘야함..
                        //(여기서 칼럼명을 row1로 바꿔야하는데 여기서 마무리..지음.....)
                        columns.Add().DataField("COL1").Caption("품번").Alignment(HorizontalAlignment.Left);
                        columns.Add().DataField("COL2").Caption("순번").Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("COL3").Caption("검사구분").Alignment(HorizontalAlignment.Left);
                        columns.Add().DataField("COL4").Caption("검사항목").Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("COL5").Caption("검사방법").Alignment(HorizontalAlignment.Left);
                        columns.Add().DataField("COL6").Caption("검사").Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("COL7").Caption("입력방법").Alignment(HorizontalAlignment.Left);
                        columns.Add().DataField("COL8").Caption("하한").Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("COL9").Caption("상한").Alignment(HorizontalAlignment.Left);
                        columns.Add().DataField("COL10").Caption("효력시작일").Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("_CR").Caption("색깔").Alignment(HorizontalAlignment.Right).Visible(false);
                        columns.Add().DataField("_Key").Caption("키").Alignment(HorizontalAlignment.Left).Visible(false);
                    })
                    .Height(new JS("heightCalc('50')"))
                    //.Selection(e => e.Mode(SelectionMode.Single))
                    )
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4 col-md-4 h-40">
        <div>
            @(Html.DevExtreme().PieChart()
            .ID("pie")
            .Palette(VizPalette.SoftPastel) //색상
            .Type(PieChartType.Doughnut)
            .Title("") //제목

            .Tooltip(t => t
                .Enabled(true)
                .CustomizeTooltip(@<text>
                    function(arg) {
                    return {
                    text: '<b>'+arg.argument+'</b>' + " - " + arg.originalValue
                    };
                    }
                </text>)
            )
            .Legend(l => l
                .HorizontalAlignment(HorizontalAlignment.Right)
                .VerticalAlignment(VerticalEdge.Top)
                .Margin(0)
            //.Border(b => b.Visible(true))
            )
            .ElementAttr("class", "border-1")
            .Export(e => e.Enabled(true))
            .Series(s => s
                .Add()
                .ArgumentField("label")
                .ValueField("value")
                .Label(l => l.Visible(true)
                            .Connector(c => c.Visible(true))
                )
            //시리즈 테두리
            //.Border(b => b.Visible(true)
            //            .Color("#1DDB16")
            //            )
            )
            //.CommonSeriesSettings( x => x.Border( b=> b.Visible(true).Color("#000000").DashStyle(DashStyle.Solid))) //시리즈 테두리;
            .DataSource(ds => ds.Mvc().Controller("Production")//.Key("_Key")
                .LoadAction("GetDowntimeTop10ChartResult")
                .LoadParams(new
                {
                    p_PlantId = new JS("getIdValue('Plants')")
                    ,
                    p_FactoryId = new JS("getIdValue('Factories')")
                    ,
                    p_WorkshopTypeId = new JS("getIdValue('WorkshopTypes')")
                    ,
                    p_WorkshopId = new JS("getIdValue('Workshops')")
                    ,
                    p_WorkDate = new JS("getIdValue('startDate')")
                    ,
                    p_Gubun1 = new JS("getCheckedRadio('Gubun1')")
                    ,
                    p_Gubun2 = new JS("getCheckedRadio('Gubun2')")
                })
            )
            )

            @*<button id="export" onclick="showdonutChart();">Export to PDF</button>
                <button id="foo3">이미지</button>
                <div id="test">
                    <div id="donutChart" class="ibox-content">
                        <div id="morris-donut-chart"></div>
                        <div id="legend" class="donut-legend"></div>

                    </div>
                </div>*@
        </div>
    </div>
    <div class="col-lg-8 col-md-8 h-40">
        <div class="ibox">

            @(Html.DevExtreme().Chart()
            .ID("chart")
            .Series(s => s
                .Add()
                .ArgumentField("label")
                .ValueField("value")
                .Name("비가동 시간")
                .Type(SeriesType.Bar)
                .Color("#ffaa66")
                .HoverMode(ChartSeriesHoverMode.NearestPoint)
            )

            .Legend(l => l
                .VerticalAlignment(VerticalEdge.Top)
                .HorizontalAlignment(HorizontalAlignment.Right)
            )
            .Export(e => e.Enabled(true))
            .OnPointClick(@<text>
                function(e) {
                e.target.select();
                }
            </text>)
            .ElementAttr("class", "border-1") //강제로 class같은거 부여할수잇음.
            .Panes(x => x.Add().Border(b => b.Visible(true).DashStyle(DashStyle.Solid).Color("#000000")).BackgroundColor("#ffffff"))
            //툴팁 예시 https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/TooltipHTMLSupport/Mvc/Light/
            .Tooltip(e => e.Enabled(true)
                .Location(ChartTooltipLocation.Edge)
                .CustomizeTooltip(@<text>
                    function(args){
                    return {
                    //값 : args.originalValue, args.value, args.valueText
                    //이름 : args.argument
                    text: '<b>' + args.argument + '</b>' + '<br />' + '비가동시간 : ' + args.originalValue
                    }

                    }
                </text>)


            )
            .DataSource(ds => ds.Mvc().Controller("Production")//.Key("_Key")
                .LoadAction("GetDowntimeTop10ChartResult")
                .LoadParams(new
                {
                    p_PlantId = new JS("getIdValue('Plants')")
                    ,
                    p_FactoryId = new JS("getIdValue('Factories')")
                    ,
                    p_WorkshopTypeId = new JS("getIdValue('WorkshopTypes')")
                    ,
                    p_WorkshopId = new JS("getIdValue('Workshops')")
                    ,
                    p_WorkDate = new JS("getIdValue('startDate')")
                    ,
                    p_Gubun1 = new JS("getCheckedRadio('Gubun1')")
                    ,
                    p_Gubun2 = new JS("getCheckedRadio('Gubun2')")
                })
            )
            )

        </div>
    </div>
</div>

<style type="text/css">
    .myclass td {
        font-weight: bold !important;
    }
</style>

<script type="text/javascript">
    var aa;
    //추가함(색칠)
    function cellPrepared(e) {
        var fieldData = e.value,
            fieldHtml = e;
        if (fieldHtml.rowType == 'data') {
            if (fieldData) {
                //$('#gridContainer01').dxDataGrid("instance").cellValue(키값,DataField)
                var no1 = $('#gridContainer01').dxDataGrid("instance").cellValue(fieldHtml.row.key - 1, 'COL1'); //Point 있으면 1
                var no2 = $('#gridContainer01').dxDataGrid("instance").cellValue(fieldHtml.row.key - 1, 'COL2'); //Image 있으면 1

                //칼럼영역 : inherit (#F4F4F4)
                //COL1,COL2 : #ECF1EA
                //하위3개 row : #FDE9D9
                if (fieldHtml.column.dataField == 'COL1' || fieldHtml.column.dataField == 'COL2') {
                    fieldHtml.cellElement[0].style.backgroundColor = "#ECF1EA";
                }
            }
        }
    }
</script>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
